<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "profile_image.jpeg", width: 300, alt: "profile Image"%>
	</div>

	<div class="col-md-8">
		<p>Stuff about me</p>
	</div>
