<div class="app-card-container">
	<div class="card">

		<h1>Would you like to work together?</h1>

		<br>

		<div class="row">
			<div class="col-md-6">
				<h3>City</h3>

				<p>Austin</p>

				<h3>Phone</h3>

				<p><%= number_to_phone "5555555555" %>

				<h3>Email</h3>

				<p><a href="mailto:dbbarkley93@gmail.com?subject=PortfolioContact" >Email me </a> </p>
			</div>

			<div >
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220449.36396436684!2d-97.893486656
				52054!3d30.307686290629682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8644b599a0cc032f%3A0x5
				d9b464bd469d57a!2sAustin%2C%20TX!5e0!3m2!1sen!2sus!4v1620360433371!5m2!1sen!2sus" width="450" height="450" 
				style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</div>
</div>